:root {
	--main-color: #4E534A;
	--highlight-1-light: #D1D0FF;
	--highlight-1-dark: #4945F5;
	--highlight-2: #D7FF64;
}

@font-face {
	font-family: "MRV Grot Medium Regular";
	src: url("../fonts/mrv-grot.ttf") format("truetype");
	font-weight: normal;
    font-style: normal;
}

body {
	font-family: "MRV Grot Medium Regular";
	font-size: 13px;
	line-height: 1.25em;
	color: var(--main-color);
}

h1 {
	font-size: 2em;
	line-height: 1.25em;
	font-weight: normal;
	font-style: normal;
	margin-bottom: .5em;
}

h2 {
	font-size: 1em;
	line-height: 1.25em;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 1em;
}

p {
	font-size: 1em;
	line-height: 1.25em;
	font-weight: normal;
	font-style: normal;
	max-width: 21em;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--main-color);
}

::selection {
	background: var(--highlight-2);
}

.cursor {
  cursor: url("assets/images/cursors/default.svg");
}

.header {
	position: fixed;
	width: 100vw;
	padding: .75em 1.25em;
	background: white;
	filter: drop-shadow(0 0 10px rgba(73, 69, 245, .3));
	display: grid;
	grid-template-columns: 90px auto 145px 145px;
	column-gap: .75em;
	z-index: 10;
}

.header__icon-container {
	height: 5em;
}

.header__icon {
	height: 5em;
	width: 5em;
	object-fit: contain;
}

.link {
	text-decoration: underline dotted var(--main-color);
	text-underline-offset: 2px;
	text-decoration-thickness: .5px;
}

.link--alias {
	cursor: alias;
}

.button-left, .button-middle, .button-right {
	display: inline-block;
	height: 1.15em;
}

.button-left, .button-right {
	width: 1em;
	color: transparent;
}

.button-left {
	background: linear-gradient(90deg, rgba(209,208,255,0.007440476190476164) 0%, rgba(209,208,255,1) 100%);
}

.button-middle {
	background: var(--highlight-1-light); 
}

.button-right {
	background: linear-gradient(90deg, rgba(209,208,255,1) 0%, rgba(209,208,255,0.007440476190476164) 100%);
}

.menu__item:hover .button-middle, .menu__item--active .button-middle {
	background: var(--highlight-1-dark);
	color: white;
}

.menu__item:hover .button-left, .menu__item--active .button-left {
	background: linear-gradient(90deg, rgba(73,69,245,0) 0%, rgba(73,69,245,1) 100%);
}

.menu__item:hover .button-right, .menu__item--active .button-right {
	background: linear-gradient(90deg, rgba(73,69,245,1) 0%, rgba(73,69,245,0) 100%);
}

.cam {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	display: inline-block;
	height: 100vh;
	width: 100vw;
	background-image: url("../images/cam/afternoon.png");
	background-size: cover;
	background-position: center;
}

.main {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 0px;
	overflow: scroll;
}

.photo-dump {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: .75em;
	grid-row-gap: 3.5em;
}

.modal--1-col, .modal--2-col, .modal--3-col, .modal--2-col--start-2 {
	padding: 8em 1.25em 1.25em 1.25em;

}

.modal--1-col {
	background: white;
	grid-column: 1;
}

.modal--2-col {
	background: white;
	grid-column: 1 / span 2;
}

.modal--2-col--start-2 {
	grid-column: 2 / span 2;
	background: var(--main-color);
}

.modal--3-col {
	background: white;
	grid-column: 1 / span 3;
}

.section {
	margin-bottom: 3.5em;
}

.section--2-col {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 3.5em;
}

ol > li {
	margin-bottom: 1.25em;
}

.section > p {
	padding-bottom: 1.25em;
}

.close {
	height: 1.75em;
	width: 1.75em;
}

.close-container {
	display: flex;
	justify-content: flex-end;
	margin-top: .15em;
}

.headline {
	display: flex;
	justify-content: space-between;
}

.space-sm {
	margin-bottom: 1em;
}

.space-md {
	margin-bottom: 2em;
}

.active {
	background: var(--highlight-1-dark);
	color: white;
}

.full-width {
	width: 100%;
}

.white {
	color: white;
}

/*.thumbnail {
	border: #efefef solid .5px;
}*/

.thumbnail__image, .thumbnail__image-overlay, .thumbnail__title {
	width: 100%;
}

.thumbnail__image {
	align-self: flex-end;
}

.thumbnail__image-overlay {
	height: 4em;
	background: transparent;
	vertical-align: bottom;
	align-self: flex-end;
}

.thumbnail:hover .thumbnail__image-overlay {
	background: linear-gradient(180deg, rgba(215,255,100,0) 0%, rgba(215,255,100,1) 100%);
}

.thumbnail:hover .thumbnail__title {
	background: var(--highlight-2);
}

.thumbnail__title {
	padding: 0.5em;
	background: white;
}

.thumbnail__image-container {
	height: 33vw;
	display: flex;
	background-position: center;
	background-size: cover;
}

.bfa-2021 {
	background-image: url("../../assets/images/content/work/thumbnail-BFA-2021.jpg");
}

.knitwear {
	background-image: url("../../assets/images/content/work/thumbnail-knitwear.jpg");
}

.amxgv {
	background-image: url("../../assets/images/content/work/thumbnail-amxgv.jpg");
}

.weaving {
	background-image: url("../../assets/images/content/work/thumbnail-amxgv-2.jpg");
}

.archive {
	background-image: url("../../assets/images/content/work/thumbnail-archive.jpg");
}

.sunset {
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,0,1) 100%);
}