* {
	margin: 0;
	padding: 0;
}

:root {
	--main-color: #4E534A;
	--highlight-1-light: #D1D0FF;
	--highlight-1-dark: #4945F5;
	--highlight-2: #D7FF64;
}

@font-face {
	font-family: "MRV Grot Medium Regular";
	src: url("../fonts/mrv-grot.ttf") format("truetype");
	font-weight: normal;
    font-style: normal;
}

body {
	font-family: "MRV Grot Medium Regular";
	font-size: 14px;
	line-height: 17.5px;
	color: var(--main-color);
}

h1 {
	font-size: 25px;
	line-height: 31.25px;
	font-weight: normal;
	margin: 13px 0;
}

h2 {
	font-size: 14px;
	line-height: 17.5px;
	margin: 13px 0;
}

p {
	max-width: 300px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--main-color);
}

::selection {
	background: var(--highlight-2);
}

.header {
	position: fixed;
	width: 100vw;
	padding: 10px;
	background: white;
	filter: drop-shadow(0 0 10px rgba(73, 69, 245, .3));
	display: grid;
	grid-template-columns: 90px auto 145px 145px;
	column-gap: 10px;
	z-index: 2;
}

.header__icon {
	height: 65px;
	width: 65px;
	object-fit: contain;
}

.header__bio {
	max-width: 300px;
}

.link {
	text-decoration: underline dotted var(--main-color);
	text-underline-offset: 2px;
	text-decoration-thickness: .5px;
}

.link--alias {
	cursor: alias;
}

.button-left {
	display: inline-block;
	width: 14px;
	height: 100%;
	color: transparent;
	background: linear-gradient(90deg, rgba(209,208,255,0.007440476190476164) 0%, rgba(209,208,255,1) 100%);
}

.button-middle {
	display: inline-block;
	background: var(--highlight-1-light); 
}

.button-right {
	display: inline-block;
	width: 14px;
	height: 100%;
	color: transparent;
	background: linear-gradient(90deg, rgba(209,208,255,1) 0%, rgba(209,208,255,0.007440476190476164) 100%);
}

.menu__item:hover .button-middle, .menu__item--active .button-middle {
	background: var(--highlight-1-dark);
	color: white;
}

.menu__item:hover .button-left, .menu__item--active .button-left {
	background: linear-gradient(90deg, rgba(73,69,245,0) 0%, rgba(73,69,245,1) 100%);
}

.menu__item:hover .button-right, .menu__item--active .button-right {
	background: linear-gradient(90deg, rgba(73,69,245,1) 0%, rgba(73,69,245,0) 100%);
}

.cam {
	height: 100vh;
	width: 100vw;

	background-size: cover;
	background-position: center;
	z-index: 0;
	background: var(--main-color);

	position: absolute;
	top: 0;
	left: 0;

}

.main {
	position: absolute;
	top: 0;
	left: 0;

	height: 100vh;
	width: 100vw;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 0px;

	z-index: 1;
}

.main--1-col, .main--2-col, .main--3-col {
	padding: 106px 13px;
}

.main--1-col {
	background: papayawhip;
	grid-column: 1;
}

.main--2-col {
	background: green;
	grid-column: 1 / span 2;
}

.main--3-col {
	background: dodgerblue;
	grid-column: 1 / span 3;
}

.section {
	margin-bottom: 50px;
}

.section--2-col {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
}

ol > li {
	max-width: 175px;
	margin-bottom: 13px;
}