* {
	margin: 0;
	padding: 0;
}

:root {
	--text-color: #4E534A;
	--highlight: #D1D0FF;
	--highlight-dark: #4945F5;
	--highlight-bright: #D7FF64;
}

@font-face {
	font-family: "MRV Grot Medium Regular";
	src: url("../fonts/mrv-grot.ttf") format("truetype");
	font-weight: normal;
    font-style: normal;
}

body {
	font-family: "MRV Grot Medium Regular";
	font-size: 14px;
	line-height: 17.5px;
	color: var(--text-color);
	background: var(--text-color);
}

h1 {
	font-size: 25px;
	line-height: 31.25px;
	font-weight: normal;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

::selection {
	background: var(--highlight-bright);
}

.header {
	position: fixed;
	width: 100vw;
	padding: 10px;
	background: white;
	filter: drop-shadow(0px 0px 10px #D1D0FF);
	display: grid;
	grid-template-columns: 90px auto 145px 145px;
	column-gap: 10px;
	z-index: 1;
}

.header__icon {
	height: 65px;
	width: 65px;
	object-fit: contain;
}

.header__bio {
	max-width: 300px;
}

.bio__name {
	text-decoration: underline dotted var(--text-color);
	text-underline-offset: 2px;
	text-decoration-thickness: .5px;
}

.button--left {
	display: inline-block;
	width: 14px;
	height: 100%;
	color: transparent;
	background: linear-gradient(90deg, rgba(209,208,255,0.007440476190476164) 0%, rgba(209,208,255,1) 100%);
}

.button--middle {
	display: inline-block;
	background: var(--highlight); 
}

.button--right {
	display: inline-block;
	width: 14px;
	height: 100%;
	color: transparent;
	background: linear-gradient(90deg, rgba(209,208,255,1) 0%, rgba(209,208,255,0.007440476190476164) 100%);
}

.menu__item:hover .button--middle, .menu__item--active .button--middle {
	background: var(--highlight-dark);
	color: white;
}

.menu__item:hover .button--left, .menu__item--active .button--left {
	background: linear-gradient(90deg, rgba(73,69,245,0) 0%, rgba(73,69,245,1) 100%);
}

.menu__item:hover .button--right, .menu__item--active .button--right {
	background: linear-gradient(90deg, rgba(73,69,245,1) 0%, rgba(73,69,245,0) 100%);
}

.cam {
	top: 94px;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	z-index: 0;
}

.main { /* change this to "grid" ? */
	background: white;
	height: 100vh;
	padding-top: 102px;
	padding-left: 12px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 10px;
}

.main--1-of-3 {

}

.main--2-of-3 {

}

.main--3-of-3 {

}

.main__headline {
	padding: 20px 0;
}