@font-face {
  font-family: mrv-grot;
  src: url(../fonts/mrv-grot.ttf);
}

p, h1 {
  font-family: mrv-grot;
  font-size: 26px;
  line-height: 1.18em;
  color: white;
  -webkit-text-stroke-width: .35px;
  -webkit-text-stroke-color: white;
}

p {
	margin-bottom: 28px;
}

p:last-of-type {
	margin-bottom: 40px;
}

h1 {
	text-indent: 80px;
	margin-bottom: 30px;
}

.cam {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: inline-block;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-image: url("../images/cam/afternoon.png");
	background-size: cover;
	background-position: center;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 120px;
	box-sizing: border-box;
	height: calc(100vh - 40px);
	margin: 40px 40px 0;
}

.right {
	overflow: scroll;
}

.right::-webkit-scrollbar {
	display: none;
}

.grid {
	max-width: 1440px;
}

@media (max-width: 900px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr;
		overflow: scroll;
	}

	.left {
		margin-bottom: 28px;
	}

	.right {
		height: 100%;
		overflow: visible;
	}
}
