@font-face {
  font-family: mrv-grot;
  src: url(../fonts/mrv-grot.ttf);
}

p {
  font-family: mrv-grot;
  font-size: 28px;
  line-height: 1.25em;
  color: white;
  margin-bottom: 26px;
}

.cam {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: inline-block;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-image: url("../images/cam/afternoon.png");
	background-size: cover;
	background-position: center;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 32px;
	box-sizing: border-box;
	height: calc(100vh - 28px);
	margin: 28px 32px 0;
}

.right {
	overflow: scroll;
}

.right::-webkit-scrollbar {
	display: none;
}

.grid {
	max-width: 1440px;
}

@media (max-width: 900px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr;
		overflow: scroll;
	}

	.left {
		margin-bottom: 28px;
	}

	.right {
		height: 100%;
		overflow: visible;
	}
}