@font-face {
  font-family: maria;
  src: url(../fonts/maria.ttf);
}

:root {
	--space-sm: 1.425rem;
	--space-md: 1.625rem;
	--space-lg: 2.5rem;
	--space-xl: 3.75rem;
	--space-xxl: 7.5rem;
}

::selection {
  background-color: #710021;
}

p, h1 {
  font-family: maria;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.15em;
  letter-spacing: 0.01em;
  color: white;
  -webkit-font-smoothing: antialiased;
}

p {
	margin-bottom: var(--space-sm);
}

p:last-of-type {
	margin-bottom: 0;
}

h1 {
	text-indent: var(--space-xl);
	text-transform: uppercase;
	margin-bottom: var(--space-md);
}

.cam {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: inline-block;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-image: url("../images/cam/afternoon.png");
	background-size: cover;
	background-position: center;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: var(--space-xxl);
	box-sizing: border-box;
	height: 100vh;
	max-width: 1440px;
	padding: var(--space-lg);
	background: rgba(0, 0, 0, .25);
}

.right {
	overflow: scroll;
}

.right::-webkit-scrollbar {
	display: none;
}

@media (max-width: 1180px) {
	:root {
		--space-sm: 1.25rem;
		--space-md: 1.25rem;
		--space-lg: 2.125rem;
		--space-xl: 3rem;
		--space-xxl: 5rem;
	}

	p, h1 {
		font-size: 1.25rem;
	}
}

@media (max-width: 700px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr;
		overflow: scroll;
	}

	.left {
		margin-bottom: var(--space-xl);
	}

	.right {
		height: 100%;
		overflow: visible;
	}

	.left, .right {
		max-width: 30rem;
	}
}